body {
    margin: 10px;
}

.cpu-usage-section {
    display: inline;
}

.core-usage {
    height: .1em;
    margin: 2em;
    display: block
}

.core-usage p {
    display: inline;
    text-align: right;
    margin-left: 20px;
}

.core-usage label {
    margin-right: 20px;
}